<%- include ("../partials/navbar.ejs") %>
<div class="container">
  
  <h1 class="page-header">Reminders</h1>
  <p class="lead mb-3">Welcome <%= user.name %> </p>

  <% if (reminders) { %>
    <ul class="list-group">
      <% reminders.forEach(function (reminderItem) { %>
        <li class="list-group-item">
          <strong><%= reminderItem.title %>: </strong>
          <%= reminderItem.description %>
          || Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="badge badge-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="badge badge-danger">False</span>
          <% } %>
          <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
        </li>
      <% }) %>
    </ul>
  <% } %>

  <a style="margin-top: 25px;" href="/auth/logout" class="btn btn-secondary">Logout</a>

</div>
